.question-input-container {
  background: lightgrey;
}

.photo-button {
  position: absolute;
  right: 13px;
  z-index: 2;
  margin-top: 10px;
}

.questions-list {
  max-height: 150px;
  overflow-y: scroll;
}

.chat-messages {
  padding: 0 10px;
  flex-grow: 1;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

ion-spinner {
  color: white;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.highlighted-questions {
  padding: 10px 10px 0;
}

ion-searchbar {
  --box-shadow: none;
}
